name: CI Workflows

on:
  push:
    branches: [ "main" ]
  pull_request:
    # Do not run on draft pull requests
    types:
    - opened
    - reopened
    - synchronize
    - ready_for_review

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    # Do not run on draft pull requests
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Cache cargo registry
        uses: actions/cache@v2
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Cache cargo index
        uses: actions/cache@v2
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-index-

      - name: Run Clippy
        run: cargo clippy --all-features

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose